trunk/ familycompta/compta_desktop/data/compta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="recValue" type="xs:integer"/>
	<xs:element name="recField" type="xs:integer"/>
	<xs:element name="startDate" type="xs:date"/>
	<xs:element name="endDate" type="xs:date"/>
	<xs:element name="soldeCourant" type="xs:decimal"/>
	<xs:element name="recurrence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recField"/>
				<xs:element ref="recValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="label" type="xs:string"/>
	<xs:element name="entree">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="active"/>
				<xs:element ref="label"/>
				<xs:element ref="amount"/>
				<xs:element ref="startDate"/>
				<xs:element ref="endDate"/>
				<xs:element ref="recurrence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dateSoldeCourant" type="xs:date"/>
	<xs:element name="compta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="soldeCourant"/>
				<xs:element ref="dateSoldeCourant"/>
				<xs:element ref="entreeList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amount" type="xs:decimal"/>
	<xs:element name="active" type="xs:boolean"/>
	<xs:element name="entreeList">
	<xs:complexType>
			<xs:sequence>
			<xs:element ref="entree" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
